body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.list {
  border: solid 1px #e7e7e7;
  border-radius: 4px;
  background-color: #f8f8f8;

  overflow-y: scroll;
}

.item {
  display: flex;
  padding: 16px;
  align-items: center;
  background-color: #fff;
  border-bottom: solid 1px #e7e7e7;
}

.item-content {
  flex: 1;
}

.item-name {
  font-weight: bold;
}

.item-highlight {
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
}

.item-actions {
  display: flex;
  align-self: flex-end;
}

.item-actions > button {
  margin: 0 5px;
}

.cart_total-container {
  display: flex;
  align-items: center;

  padding: 8px;

}

.cart_total {
  display: flex;
  flex: 1;
  margin-right: 16px;
  justify-content: flex-end;

  font-size: 18px;
  font-weight: bold;
}

.toggle-container {
  display: flex;
  align-items: center;
}

.toggle-container > span {
  margin-right: 8px;
}

.create-meetup {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pending-destroy {
  background-color: rgba(200, 0, 0, 0.8);
  text-align: center;
  height: 73px;
}

.auth-card h1 {
  text-align: center;
  margin: 40px 0;
}

.auth-card .secondary-link {
  margin-top: 10px;
}

.errors {
  color: red;
}

.apply-btn {
  background-color: #23A841;
}